body {
	font-family: sans-serif !important;
}

.header {
	width: 60%;
	margin: auto;
	font-family: sans-serif;
}

.menu ul{
	padding: 0;
	background: #7ea581;
}

.menu ul li{
	padding: 2%;
	display: inline-flex;
	font-family: sans-serif;
}

.mycard{
	/*width: 188px;*/
	/*flex: 0 0 185px;*/
	background: white;
	margin: 2%;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-shadow: 2px 8px 35px -8px rgba(0,0,0,0.4);
}

.tags{
	display: inline-flex;
	padding: 2%;
	/*margin: 2%;*/
	justify-content: flex-start;
	width:100%;
}

.tag{
	flex: 0 0 86px;
	font-family: sans-serif;
	text-align: center;
	font-size: 10px;
	/*margin: auto;*/
	color: black;
	background: #fdd9b1;
	padding: 1% 3%;
	border-radius: 10px;
	margin-right: 2%;
	text-overflow: ellipsis;
	overflow: hidden;
	box-shadow: 2px 8px 35px -8px rgba(0,0,0,0.4);
	white-space: nowrap;
}

.tag:last-child{
	margin-right: 0;
}

.mycard-body{
	background: white;
	box-sizing: border-box;
	font-family: sans-serif;
}

.mycard:hover{
	box-shadow: 8px 13px 12px 0px rgba(0, 0, 0, 0.4);
}

.results{
	padding: 5%;
	display: inline-flex;
	width: 100%;
	flex-wrap: wrap;
	align-items:stretch;
	align-content:center;
	justify-content: space-between;
}

.mycard-text{
	font-family: sans-serif;
	text-align: justify;
	padding: 5%;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 184px;
	white-space: nowrap; 
}

.img{
	background: #ccc;
	padding: 0px;
	margin: 0px;
	height: 278px;
}

.score{
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	width: 32%;
	padding: 1%;
	float: right;
	position: relative;
	top: -352px;
	left: 29px;
	border-radius: 39px;
	background: #ffea31;
}

.popular{
	background: #c6e2d3;
}

.titleSection{
	font-family: sans-serif;
	text-align: center;
	padding-top: 2%;
}

.showMore{
	font-family: sans-serif;
	text-align: center;
	display: block;
	padding-bottom: 2%;
	cursor: pointer;
}

.showMore:hover {
	font-weight: bold;
}
.footer {
	font-family: sans-serif;
	background: black;
	/*! height: 30px; */
	font-size: 10px;
	padding-top: 1%;
	text-align: center;
	color: white;
}


/*/Detail page*/

.detail {
	display: flex;
	font-family: sans-serif;
	width: 100%;
	/*! margin: auto; */
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: space-between;
	padding: 2%;
}

.detailTitle{
	font-family: sans-serif !important;
	text-align: center;
	margin: 4%;
}
.detailImg {
	flex: 0 0 150px;
}

.detailInfo {
	font-family: sans-serif;
	width: 70%; 
	padding: 2%;
	padding-left: 6%;
}

.detailDescription {
	font-family: sans-serif;
	/*! padding: 3%; */
	/*! text-align: justify; */
}

.detailRate {
	font-family: sans-serif;
	padding: 4%;
}

.review{
	font-family: sans-serif;
	background: white;
	border: 1px solid #ccc;
	border-style: dashed;
	border-radius: 5px;
	flex-flow: wrap;
	padding: 2%;
	margin: 5%;
	margin-bottom: 0px;
	flex-grow:1;
	box-sizing: border-box;
}

.titleRev{
	font-family: sans-serif;
	display: inline-flex;
	width: 100%;
}

.descriptionRev{
	margin: 1%;
	font-family: sans-serif;
	text-align: justify;
	font-size: 12px;
}

.nameRev {
	font-family: sans-serif;
	margin-left: 4%;
	margin-top: 2%;
	font-weight: bold;
}

.starRate {
	float: right;
	position: relative;
	bottom: 64%;
	width: 15%;
	text-align: right;
}

.detailCateg{
	font-family: sans-serif;
	display: inline-flex;
	flex-flow: wrap;
	width: 100%;
	align-content:stretch;
	justify-content: center;
}

.tagDetail{
	font-family: sans-serif;
	text-align: center;
	color: black;
	background: #a8d4b2;
	font-size: 10px;
	padding: 1% 2%;
	margin-right: 2%;
	border-radius: 5px;
}

.detailReviews {
	font-family: sans-serif;
	width: 100%;
	flex-flow: wrap;
	margin: auto;
	text-align: center;
	display: inline-flex;
}

.detailPopularity {
	font-family: sans-serif;
	margin: 3%;
	margin-left: 0px;
}

.starRate{
	display: inline-flex;
	justify-content: center;
	width: 100%;
	margin: 3%;
}

.starDetail .star {
	float: right;
	background: url('../assets/empty_star.png') no-repeat;
	width: 30px;
	height: 30px;
}

.starDetail .star:hover {
	background: url('../assets/star.png') no-repeat;
	width: 30px;
	height: 30px;
}

.starDetail .star:hover ~ .star {
	background: url('../assets/star.png') no-repeat;
	width: 30px;
	height: 30px;
}

.starDetail .star:active {
	background: url('../assets/star.png') no-repeat;
	width: 30px;
	height: 30px;
}

.starDetail .star:active ~ .star {
	background: url('../assets/star.png') no-repeat;
	width: 30px;
	height: 30px;
}

@import '~bootstrap/dist/css/bootstrap.min.css';

